<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="TestAndroidApp" android:hasCode="false">
        
        <activity android:name="android.app.NativeActivity"
                  android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name"
                       android:value="test_android_app" />
        </activity>
    </application>
</manifest>